venv
.ipynb_checkpoints
BThompson_Proposal.*
allcats
dogs
cats
CatVsDog.ipynb
first attempt.png
Untitled.ipynb
Untitled1.ipynb
MatplotlibCheatSheet.png
w3.py
cat_model_t1.zip
cat_model_t1
cat_identification
mdl
tink
pan
CP640_W11_Disc.ipynb

