venv
.ipynb_checkpoints
BThompson_Proposal.*
allcats
dogs
cats
CatVsDog.ipynb
first attempt.png
Untitled.ipynb
Untitled1.ipynb
MatplotlibCheatSheet.png
w3.py
cat_model_t1.zip
cat_model_t1
cat_identification
mdl
tink
pan
CP640_W11_Disc.ipynb

Reviews/CP640_Code_Review_Combined.docx
Reviews/CP640_Brett_Thompson_Code_Review.pdf
CP640 DBedford Final Project v2.ipynb
Reviews/CP640_Code_Review_Darryl.docx
Reviews/CP640_Code_Review_Darryl.pdf
Reviews/CP640_Code_Review_Zuvairiya.docx
